<launch>
    <node pkg="course_agv_nav" type="global_planner.py" name="global_planner" ns="course_agv"  output="screen"/>
    <node pkg="course_agv_nav" type="local_planner.py" name="local_planner" ns="course_agv" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find course_agv_nav)/launch/nav_real.rviz"/>
</launch>